* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavender;
    position: center;
}
.content-logar{
    height: 60%;
}
.content-cadastro{
    height: 50%;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: #58af9b;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #7f8c8d;
}

.btn:hover{ 
    background-color: royalblue; 
    border-color: royalblue;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    border: none;
    margin-top: 1rem;
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color .5s;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media:hover{
    background-color: lavender;
    color: #fff;
    border-color: lavender;
}

.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
    margin: 1rem 0;
    margin-left: 10px;
    transition: background-color .5s;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.esqueceuCadastro {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
    flex-direction: row;
    margin-left: 30px;
}

.div{
    margin-left: 200px;
}

#msgCapsLock {
    display: none;
    color: red;
}  