.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #2f3136;
    z-index: 1000;
}

.sidebar .logo {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #0366d6;
}

.sidebar .img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    margin-top: 100px;
}

.sidebar ul li {
    border-bottom: 3px solid #717a85;
}

.sidebar ul li a {
    text-decoration: none;
    color: #717a85;
}

.sidebar ul li a .item {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    transition: all .5s;
}

.sidebar ul li a .item:hover {
    background-color: #0366d6;
    color: #fff;
}


@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}

.responsive-aux-sidebar {
    display: block;
}