p {
  text-align: center;
  width: 250px;
  position: relative;
  margin: 0;
}

img {
  text-align: center;
  background-color: black;
  width: 250px;
  margin: 10px;
}

.labelPadrao {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.labelEmail {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
}
