.Foto {
  background-color: black;
  width: 100%;
  max-width: 34ch;
}
.Modelo {
  text-align: center;
  width: 250px;
}
.Nome {
  font-family: Arial;
  padding: 10px;
  max-width: 34ch;
}

.Email {
  background-color: gray;
  text-align: center;
  max-width: 25ch;
  font-family: Verdana;
  padding: 10px;
}
