p {
    text-align: center;
    padding: 10px;
    width: 250px;
  }
  img {
    background-color: black;
    width: 250px;
  }
  
  .Dados1 {
    font-family: Arial;
    padding: 10px;
  }
  
  .Dados2 {
    font-family: Verdana;
    background-color: gray;
    padding: 10px;
  }