input[type=text]{
    width: 120px;
    border-radius: 5px;
    border: none;
}

input[type=text]:focus{
    outline: none;
}

label{
    width: 0;
    margin:5px 5px 9px 0px;
}

table, th, td{
    width: 400px;
    border-collapse: collapse;   
}

table{  
    margin: 1rem auto 1rem auto;
    border-radius: 4px;
    overflow: hidden;
}

table:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

table, th{
    text-align: center;
}

tr{
    border-radius: 50%;
}

th{
    background-color: #7868e6;
    font-size: 20px;
    padding:5px;
}

td{
    background-color: #b8b5ff;
    padding: 10px;
}

.container{
    margin-top: 50px;
    background-color: #949cdf;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

.button-container{
    display: flex;
    width: 100%;
    padding: 1rem;
}

.content-container{
    padding: 2rem 4.5rem;
}

.container:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 3.6px;
}

.form-input-material{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.table{
    margin: auto;
}

.fa-pen:hover{
    color: #bbf3f9;
    cursor: pointer;
}

.fa-trash:hover{
    color: #ff0000;
    cursor: pointer;
}

#btn-cadastrar{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    background-color: #7868e6;
    transition: 500ms;
    margin: 0 1rem 0 auto;
}

#btn-cadastrar:hover{
    color: #edeef7;
    border: 0.15;
    background-color: #4a47a3;
}