#ficha {
  text-align: center;
  width: 250px;
}

img {
  background-color: black;
  width: 100%;
}

.nomeETelefone {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

#email {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
  margin: 0px 0px 20px 0px;
}
