.product-screen-content {
    height: 100%;
    padding-bottom: 18vh;

    justify-content: center;
    align-items: center;
}

.products {
    margin-top: 10px;
    min-height: 90vh;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

.add-product-btn {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;

    color: red;

    &:hover {
        color: rgb(255, 81, 81);
    }
}

.product {
    position: relative;
    width: 32vw;
    cursor: pointer;

    img {
        width: 100%;
        height: 70vh;
    
        object-fit: cover;
        object-position: center;
    }

    &:hover {
        img {
            opacity: .4;
        }
        .product-content {
            opacity: 1;
        }
    }
}

.product-content {
    position: absolute;
    left: 25%;
    bottom: 25%;
    right: 25%;
    top: 5%;

    opacity: 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    position: relative;

    color: var(--color-font-secondary);

    h1 {
        font-size: 2rem;
    }
    
    h3 {
        max-width: 100%;
        text-align: justify;
    
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}

.product-btns {
    margin: 15px;

    display: flex;
    justify-content: space-around;

    cursor: pointer;

    a {
        color: var(--color-font-secondary);
    }
}

.product-btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid var(--color-font-secondary);
    border-radius: 10px;

    &:hover {
        border: 2px solid var(--color-font-secondary-shadow);
        color: var(--color-font-secondary-shadow);
    }
}

.delete-confirmation-view {
    position: fixed;
    
    top: 0;
    
    background: #c9c9c9bb;
    height: 100%;
    width: 100%;

    color: var(--color-font-secondary);
}

.delete-view-disable {
    display: none;
}

.delete-view-content {
    position: fixed;
    display: flex;

    padding: 1.5vw;

    text-align: center;
    
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
    
    background: var(--color-font-primary);
    z-index: 999;
    top: 20%;
    left: 0;
    right: 0;

    width: 40vh;
    height: 40vh;

    border-radius: 5px;
}

.delete-view-texts {
    h1 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

.delete-view-btns {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;

    button {
        height: 10vh;
        margin: 2px;
        width: 20%;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;

        font-family: Roboto, sans-serif;
        font-size: 1.3rem;

        &:hover {
            transform: scale(1.1);
            border-bottom: 2px solid var(--color-font-secondary);
        }
    }
}


