img {
    background-color: black;
}
#form {
    width: 250px;
    text-align: center;
}
#nomeSobreFone {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#email {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}