p {
    text-align: center;
    width: 250px;
  }
  img {
    background-color: black;
    width: 250px;
  }
  
  .infos {
    font-family: Arial;
    padding: 10px;
  }
  
  .email {
    font-family: Verdana;
    background-color: gray;
    padding: 10px;
  }
  