footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-background);
    padding-bottom: 1rem;
    
    ul {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        height: 8vh;

        margin: 0;
        bottom: 0;
    }

    p {
        color: white;
        margin-left: 2rem;
        height: 1vh;
    }

    a {
        color: var(--color-font-primary);
        &:hover {
            color: var(--color-font-primary-shadow);
            border-bottom: 2px solid var(--color-font-primary)
        }
    }
}

.footer-item a {
    display: flex;
    align-items: center;

    color: var(--color-font-primary);
}

.footer-item a:hover {
    color: var(--color-font-primary-shadow);
    border-bottom: 2px solid var(--color-font-primary)
} 

.footer-item-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}